@font-face {
    font-family: 'DM Sans';
    src: url('fonts/DMSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('fonts/Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('fonts/Righteous-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 /* p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 } */
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 /* [fill] { fill: currentColor }
 [stroke] { stroke: currentColor } */
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 } 
 .visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
html {
	overflow-x: clip;

	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}
 :root {
      --color-dark:#000000;
      --color-light:#FFFFFF;
      --color-dark-grey:#A6A6A6;
      --color-light-gray:#FFFEFE;
      --color-blue:#0076E0;



      --border-radius: 40px;
      --border-radius-services: 50px;
      --border-radius-login: 10px;
    
      --input-height: 65px;
      --button-height: 60px;


      --conteiner-width: 1920px;
      --conteiner-padding-x: 15px;

      --font-family-base: "Montserrat", "sans-serif";
      --font-family-accent: "Righteous", "sans-serif";
      

      --transition-duration: 0.2s;
 }
 a {
  list-style: none;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
 }
 img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
} 
.page {
  background-image: url(images/body_background_img.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;

  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
 
}
.header {
  margin-bottom: calc(-1 * 6rem);
  background-color: #0076E0;
}
.header-logo {
	height: 6rem;
	max-width: 12.6875rem;
}
.header-logo img {
	margin-left: -2.6rem;
	min-width: 22.6875rem;
}
.conteiner {
  max-width: 77rem;
	margin-left: auto;
  margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.header-navigation-start,
.header-navigation-end {
  display: flex;
}
.header-navigation-end {
  justify-content: end;
  align-items: center;
}
.header-navigation-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.header-menu-list {
  display: flex;
  column-gap: 3rem;
}
.header-menu-link {
  color: var(--color-light);
  font-size: 1.25rem;
}
.header-menu-link:hover,
.header-menu-link:focus-visible,
.header-menu-link.is-current {
	text-decoration-color: var(--color-dark);
}
.header-menu-link {
	text-decoration-thickness: 0.125rem;
	text-decoration-style: solid;
	text-decoration-color: transparent;
	text-underline-offset: 0.25rem;

	transition: 0.2s linear;
	transition-property: color, text-decoration-color;
}
.header-menu-link:hover,
.header-menu-link:focus-visible,
.header-menu-link.is-current {
	text-decoration-color: currentColor;
}

.section-slogan {
  background-image: url(icons/header_background.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--color-light);
  min-height: 100dvh;
	max-height: 59.3125rem;
  padding-top: 6rem;

  align-items: center;
}
.section-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(1, 2fr);
  align-items: center;
}
.section-title {
  font-size: 3.125rem;
  font-weight: 700;
  font-style: normal;
  color: var(--color-light-gray);
}
.section-subtitle {
  padding-block: 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color-light-gray);
}
.section-media {
  justify-self: flex-end;
}
.start-now-button {
     background-color: #FFD4D4;
     padding: 20px 30px;
     width: 12.9rem;
     height: 4.75rem;
     border-radius: var(--border-radius);
     border:none;
     box-shadow: 0 .6875rem 2.25rem 0 rgb(0 0 0 / 0.14);
}
.start-now-button:hover {
  opacity: 0.8;
}
.start-now-button:active {
  opacity: 0.6;
}
.start-now-link {
  color: var(--color-dark);
  font-size: 1.5rem;
  font-weight: 600;
  color: #3F2013;
  text-decoration: none;
}
.section-sponsor {
  grid-column: span 2;
}
.section-sponsor-text {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.section-sponsor-image {
  display: grid;
  align-items: center;
  justify-content:center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1,100px);
  gap: 1px;
  background-color: var(--color-light);
  box-shadow: 0px 11px 15px 2px rgba(0, 0, 0, 0.11);
  border:none;
  border-radius: 1.5rem;
  padding-inline: 1rem;
}
.service-conteiner {
  max-width: 120rem;
	margin-left: auto;
  margin-right: auto;
}
.section-service {
  padding-top: 9.8rem;
  text-align: center;
}
.service-title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-dark);
}
.service-subtitle {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--color-dark);
}
.service-text p {
  font-size: 2rem;
  font-weight: 500;
}
.service-media {
  padding-top: 10rem;
}
.service-branch { 
  margin-inline: -3rem;
}
.service-app-image a {
  text-decoration: none;
}
.service-app-image-list {
  display: flex;
  position: relative;
  margin-left: -8rem;
  align-items: center;
  justify-content: space-evenly;
}
.app-image-link {
  position: absolute;
  width: 11%;
  transition: filter var(--transition-duration);
}
.app-image-link:hover {
  filter: drop-shadow(0 2px 3px var(--color-dark));
}

.service-app-image-item {
  margin-top: -6rem;
}
.service-app-image-item:nth-child(even) {
  margin-top: -12rem;
}
.service-app-image-item:last-child, 
.service-app-image-item:nth-child(2) {
  margin-top: -18rem;
}
.app-image-conteiner {
  max-width: 112.1rem;
  max-height: 16.25rem;
	margin-left: auto;
  margin-right: auto;
}
.section-big-banner {
  margin-top: 10.6rem;
}
.conteiner-big-banner {
  max-width: 120rem;
  max-height:67.5rem;
  margin-inline: auto;
}
.big-banner-image-phone {
  visibility: hidden;
}
.big-banner-image-phone,
.big-banner-image-desktop  {
  margin-inline: -1rem;
}
.section-global-internet {
  margin-top: 5rem;
}
.conteiner-global-internet {
  max-width: 120rem;
  max-height: 749px;
  margin-inline: auto;
  padding-inline: 2rem;
}
.global-white-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(icons/global-iamges.svg);
  height: 42.9rem;
}
.section-about-us {
  padding-top: 6rem;
}
.about-us-conteiner {
  max-width: 79rem;
	margin-left: auto;
  margin-right: auto;
	padding-inline: 3.125rem;
  text-align: start;
  color: var(--color-light);
}
.about-us-grid-layout  {
 display: grid;
 align-items: center;
 justify-content: flex-end;
 grid-template-columns: repeat(1,3fr) repeat(1,1fr);
 grid-template-rows: repeat(2,1fr);
 gap: 1rem;

}
.about-us-blue-front-svg  {
  background-image: url(icons/about-us-front.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 750px;
  grid-row: -1/ 1;
  grid-column: -1 / 1;
  position: relative;
  
}
.about-us-blue-front-svg::after {
  content: "";
  position: absolute;
  opacity: 0.7;
  bottom:-1rem ;
  right: -1rem;
  width: 100%;
  height: 100%;
  z-index: -99;
  background-image: url(icons/about-us-back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.about-us-text {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-inline: 2rem;
  text-shadow: 0 4px 4px var(--color-dark);
  z-index: 200;
}
.about-us-title {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  font-size: min(2.5vw,48px);
  padding-top: 12.12rem;
  text-transform: uppercase;
  line-height: 1.17;
}
.about-us-subtitle {
  padding-block: 4.375rem;
  font-size: min(1.5vw,19px);
  font-weight: 500;
  text-align: justify;
}
.about-us-subtitle span {
  font-size: min(1.6vw,20px);
  font-weight: 700;
}
.about-us-image {
  grid-column: 2/3;
  grid-row:1/3 ;
  z-index: 200;
  margin-right: -4rem;
}
.section-contact-us {
  background-color: var(--color-blue);
  margin-top: 15rem;
  color: var(--color-light);
  font-weight: 700;
  position: relative;

}
.section-contact-us::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(images/input-background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  opacity: .8;
}
.contact-us-conteiner {
  max-width: 87.75rem;
  min-height: 29.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 10rem;
  
  column-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(1,1fr) repeat(1,400px);
  align-items: center;

}
.contact-us-title {
  font-size: min(3.28vw,63px);
  line-height: normal;
}
.contact-us-title span {
  color: #E3F415;
  text-transform: uppercase;
}
.contact-us-text p {
  padding-block: 1.9rem;
  font-size: min(2.25vw,24px);
  text-transform: capitalize;
}
.contact-us-subtitle {
  font-family: 'DM Sans';
  font-size: min(1.7vw,34px);
}
.contact-us-wrapper {
  background-color: var(--color-light);
  color: var(--color-blue);
  max-width: 33rem;
  min-height: 21.5rem;
  border:none;
  border-radius: var(--border-radius-login);
  z-index: 200;
}
.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter 28pt';
  font-weight: 500;
  padding-inline: 1rem;
}
 .field.mobile,
.field {
  width: 100%;
}
.field-label {
  font-size: min(1.6vh,51px);
}
.field-control {
  width: 100%;
  margin-top: 1.25rem;
  resize: none;
  border:none;
  border-radius: var(--border-radius-login);
  background-color: #EFF9FC;
  padding-left: 0.5rem;
}
.field-control.input {
  height: 3.125rem;
  padding-bottom: 2px;

}
.field-control.textarea {
  height: 5rem;
  padding-top: 5px;
}
.field-control::placeholder {
  font-size: min(0.7vw,14px);
  color: var(--color-dark-grey);
  padding-top: 8px;
}
.contact-us-bottom {
  width: 100%;
}
.contact-us-button {
  width: 100%;
  border:none;
  border-radius: var(--border-radius-login);
  background-color: #54BD95;
  color: var(--color-light);

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: min(1.25vw , 24px);
  
  margin-top: 1.25rem;
  height: 3rem;

  transition: opacity var(--transition-duration);

}
.contact-us-button:hover {
  opacity: 0.8;
}
.contact-us-bottom a,
.contact-us-bottom p {
  color: var(--color-dark-grey);
  text-decoration: none;
  font-family: 'Inter 28pt';
  font-size: min(1vw,14px);
  text-align: end;
  padding-top: 3px;
}
.contact-us-bottom a {
  color: var(--color-blue);
  padding-left: 5px;
}


/* mobile version (max-width:650px) */
.section-contact-us.mobile {
 display: none;
}
.contact-us-conteiner.mobile {
  max-width: 39.5rem;
  min-height: 31.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 3.75rem;
  padding-block: 1.375rem;
  background-color: var(--color-blue);
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,0.5fr) repeat(1,3fr);
 
}
.contact-us-title.mobile {
  line-height: normal;
}
.contact-us-title  span {
  color: #E3F415;
  text-transform: uppercase;
}
.contact-us-subtitle.mobile { 
    font-family: 'DM Sans';
    padding-top: 1rem;
}
.contact-us-text.mobile p {
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.contact-us-text.mobile {
  text-align: center;
  align-self: flex-start;
  font-size: min(2.5vw,30px);
}
.contact-us-wrapper.mobile {
  background-color: var(--color-light);
  color: var(--color-blue);
  max-width: 37rem;
  min-height: 25.5rem;
  border:none;
  border-radius: var(--border-radius-login);
  z-index: 200;
  margin-inline: 1rem;
}
.contact-us-form.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter 28pt';
  font-weight: 500;
  padding-inline: 1rem;
}
.field-label.mobile {
  font-size: min(2.3vw, 25px);
}
.field-control.mobile {
  width: 100%;
  margin-top: 0.5rem;
  resize: none;
  border:none;
  border-radius: var(--border-radius-login);
  background-color: #EFF9FC;
}
.field-control.input.mobile {
  height: 3rem;
}
.field-control.textarea.mobile {
  height: 12rem;
}
.field-control.mobile::placeholder {
  font-size: min(1.5vw, 20px);
  color: var(--color-dark-grey);
}
.field.mobile {
  width: 100%;
}
.contact-us-bottom.mobile {
  width: 100%;
}
.contact-us-button.mobile {
  width: 100%;
  border:none;
  border-radius: var(--border-radius-login);
  background-color: #54BD95;
  color: var(--color-light);

  font-family: 'Montserrat';
  font-weight: 700;
  font-size: min(2.25vw , 24px);
  
  margin-top: 0.5rem;
  height: 2rem;

}
.contact-us-bottom.mobile a,
.contact-us-bottom.mobile p {
  color: var(--color-dark-grey);
  text-decoration: none;
  font-family: 'Inter 28pt';
  font-size: min(1.7vw,14px);
  text-align: end;
  padding-top: 3px;
}
.contact-us-bottom.mobile a {
  color: var(--color-blue);
  padding-left: 5px;
}

.section-contact-us.mobile::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url(images/input-background-image-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  opacity: .8;
}

/* mobile version end */


.footer {
  background-color: var(--color-light);
  font-size: min(1.2vw,18px);
  font-weight: 500;
  font-family: 'Inter 28pt';

  min-height:max-content;
}
.footer-conteiner {
  max-width: 90.5rem;
  min-height: 15rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 5rem;

  padding-top: 2rem;
}
.footer-navigation {
 display: flex;
 justify-content: space-between;

}
.footer-media-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4,1fr);
}
.footer-media-link {
  transition: filter var(--transition-duration);
}
.footer-media-link:hover {
  filter: drop-shadow(0 2px 2px var(--color-dark));
}
.information-company-list {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
}
.information-company-link {
  color: var(--color-dark-grey);
}

.information-company-link:hover,
.information-company-link:focus-visible,
.information-company-link.is-current {
	text-decoration-color: var(--color-dark);
}
.information-company-link {
	text-decoration-thickness: 0.125rem;
	text-decoration-style: solid;
	text-decoration-color: transparent;
	text-underline-offset: 0.25rem;

	transition: 0.2s linear;
	transition-property: color, text-decoration-color;
}
.information-company-link:hover,
.information-company-link:focus-visible,
.information-company-link.is-current {
	text-decoration-color: currentColor;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 10rem;
}











@media (max-width:1500px) {
  .logo-image {
    margin-top: -40.2vh;
  }
}
@media (max-width:1300px) {
  .contact-us-conteiner {
    padding-inline: 5.75rem;
  }
  .section-contact-us::after {
    width: 75%;
  }
}
@media (max-width:1000px) {
  .contact-us-conteiner {
    padding-inline: 2.75rem;
  }
  .section-contact-us::after {
    width: 80%;
  }
  .section-title {
    font-size: 2.8rem;
  }
  .section-subtitle {
    padding-block: 2rem;
    font-size: 1.4rem;
  }
  .start-now-button {
    padding: 15px 20px;
    width: 10.9rem;
    height: 4.75rem;
}
 .app-image-link {
  margin-top: 1.5rem;
 }
 .service-app-image-list {
  margin-left: -6rem;
}
.logo-image {

  margin-top: -32.2vh;
  padding-left: 3rem;

}
.word-image {
  margin-bottom: 0.8rem;
}
.section-global-internet {
  margin-top: -38rem;
}
.about-us-title {
 padding-top: 2rem;
}
.about-us-subtitle {
  padding-block: 1.375rem;
 
}
.section-about-us {
  margin-top: -12rem;
}
}
@media (max-width: 880px) {
  .footer-conteiner {
    padding-inline: 2rem;
  }
  .copyright {
    min-height: 7rem;
  }
  .footer-media-link img {
    width: 50px;
    aspect-ratio: 1;
  }
  .contact-us-wrapper {
    max-width: 21rem;
    min-height: 19.5rem;
    margin-left: 2rem;
  }
       .header-menu-link {
        font-size: 0.7rem;
       }
       .header-menu-list {
        column-gap: 1.5em;
       }
       .header-logo img{
        height: 4.25rem;
        min-width: 18rem;
       }
       .header-logo {
        height: 5rem;
       }
       .section-title {
        font-size: 2.4rem;
      }
      .section-subtitle {
        padding-block: 1.5rem;
        font-size: 1.1rem;
      }
      .start-now-button {
        padding: 10px 15px;
        width: 9.9rem;
        height: 3.75rem;
    }
    .section-media {
      max-width: 20rem;
    }
    .section-sponsor-text {
      font-size: 1rem;
    }
    .section-sponsor-image {
      gap: 1px;
      margin-inline: auto;
      max-width: 40rem;
      max-height: 8rem;
      padding-inline: 1rem;
    }
    .service-app-image-item:nth-child(even) {
      margin-top: -10rem;
    }
    .service-app-image-item:nth-child(2),
    .service-app-image-item:last-child {
      margin-top: -12rem;
    }
    .service-app-image-list {
      margin-left: -5rem;
    }
    .logo-image {

      margin-top: -28.2vh;
      padding-left: 3rem;
    
    }
    .word-image {
      margin-bottom: 0rem;
    }

}
@media (max-width:710px) {
  .about-us-blue-front-svg  {
    height: 800px;
  }
  .section-conteiner {
  padding-top:3rem ;
  padding-inline: 3rem;
  row-gap: 5rem;
  }
  .contact-us-conteiner {
    min-height: 25.25rem;
  }
  .section-contact-us {
    margin-top: 5rem;
  }
  .contact-us-wrapper {
    max-width: 21rem;
    min-height: 15.5rem;
  }
  .contact-us-conteiner {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr) repeat(1,304px);
    align-items: center;
  
  }
  .section-title {
    font-size: 2rem;
  }
  .start-now-button {
    padding: 4px 5px;
    width: 7.9rem;
    height: 2.75rem;
}
.start-now-link {
  font-size: 1rem;
}
.section-media {
  max-width: 15rem;
}
.section-sponsor-image {
  max-width: 35rem;
  max-height: 7rem;
}
.logo-image {

  margin-top: -22.2vh;
  padding-left: 3rem;

}
.word-image {
  margin-bottom: -1rem;
}
.section-about-us {
  margin-top: -25rem;
}
}
@media (max-width: 650px) {
  .section-conteiner {
    padding-top:3rem ;
    padding-inline: 2rem;
    row-gap: 6rem;
    }
  .section-contact-us.mobile {
    display: initial;
  }
  .section-contact-us {
   display: none;
  }
  .header-menu-link {
    font-size: 0.6rem;
   }
   .header-menu-list {
    column-gap: 1.1em;
   }
   .header-logo img{
    height: 3.25rem;
   }
   .header-logo {
    margin-left: -2rem;
    height: 4rem;
   }
   .section-title {
    font-size: 1.8rem;
  }
  .section-subtitle {
    padding-block: 1.5rem;
    font-size: 1.3rem;
  }
  .section-sponsor-text {
    font-size: 0.7rem;
  }
.service-app-image-item:nth-child(even) {
  margin-top: -8rem;
}
.service-app-image-item:nth-child(2),
.service-app-image-item:last-child {
  margin-top: -10rem;
}
.service-app-image-item:last-child  {
  margin-right: -1rem;
}
.service-app-image-list {
  margin-left: -4rem;
}
.section-sponsor-image {
  max-width: 30rem;
  max-height: 5rem;
}
.big-banner-image-phone {
  visibility: visible;
}
.big-banner-image-desktop {
  visibility: hidden;
}
.section-big-banner {
  margin-top: -10.6rem;
}
.logo-image {

  margin-top: -17.2vh;
  padding-left: 2rem;

}
.word-image {
  margin-bottom: -1rem;
}
.section-global-internet {
  margin-top: -15rem;
}
.about-us-title {
  font-size: min(3vw,50px);
  padding-bottom: 1rem;
 }
 .about-us-subtitle span {
  font-size: min(2.1vw, 22px);
 }
 .about-us-subtitle {
   padding-block: 0.375rem;
   font-size: min(2vw,20px);
  
 }
 .global-white-image {
  margin-top: 3rem;
 }
 .about-us-conteiner {
  padding-top: 5rem;
  padding-inline: 1rem;
  max-width: 81rem;
}
 .about-us-image {
  grid-column: 2/3;
  grid-row:1/1 ;
  z-index: 200;
  padding-top: 5rem;
  margin-left: -1rem;
  width: 9.3rem;
}
.about-us-text {
  grid-column: 1/3;
  grid-row: 1/3;
  padding-right: 4rem;
}
.footer-media-list {
  grid-template-columns: repeat(2,1fr);
}
.footer {
  font-size: min(1.5vw,18px);
}
.information-company-list {
  column-gap: 0.5rem;
}
.footer-media-link img {
  width: 30px;
  aspect-ratio: 1;
}
}
@media (max-width: 515px) {
  .contact-us-conteiner.mobile {
    padding-inline: 1rem;
  }
  .footer-conteiner {
    padding-inline: 1rem;
  }
  .section-sponsor-image {
    max-height: 3rem;
    align-items: start;
  }
  .sponsor-four {
    padding-top: 1rem;
  }
  .about-us-conteiner {
   margin-top: -12rem;
  }
  .about-us-image {
    padding-top: 8rem;
  }
}